@import "styledef.css" all;


@font-face {
	font-family: FontNormal;
	src: url(fonts/$(font_normal_regular));
}

@font-face {
	font-family: FontNormal;
	src: url(fonts/$(font_normal_bold));
    font-weight: bold;
}

@font-face {
	font-family: FontNormal;
	src: url(fonts/$(font_normal_italic));
    font-style: italic;
}

@font-face {
	font-family: FontFancy;
	src: url(fonts/$(font_fancy_regular));
	font-style: normal;
}

@font-face {
	font-family: FontFancy;
	src: url(fonts/$(font_fancy_bold));
	font-weight: bold;
}

@font-face {
	font-family: FontFancy;
	src: url(fonts/$(font_fancy_italic));
	font-style: italic;
}

html
{
	margin: 0 auto;
	background: url($(bg_pic)) no-repeat center center fixed;
	background-size: cover;
	font-size: 14px;
	font-family: $(font_normal);
	color: $(text_color);
}

body
{
	margin: 0 auto;
	margin-top: 3em;
	/*background-color: $(color_g);*/
}

h1
{
	margin: 0em;
	padding: 0em;
	font-family: $(font_fancy);
	font-size: 2em;
}

p
{
	margin: 0em;
}

a
{
	color: $(text_color);
	font-weight: bold;
	text-decoration: underline;
}

form
{
	margin: 0em;
}

input
{
	color: $(text_color);
	border: 0em solid $(text_color);
	background-color: $(input_bg);
}

textarea
{
	background-color: $(input_bg);
	border: 0em solid $(text_color);
	overflow: auto;
	outline: none;
	font-family: $(font_normal);
	color: $(text_color);
}

input[type="submit"]
{
	cursor: hand;
}

img
{
	border: 0px solid $(light_bg);
}

.submit
{
	color: $(dark_bg);
	border: 0em solid $(text_color);
	background: $(submit_bg);
	font-weight: bold;
}

#primary
{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#topbar
{
	position: absolute;
	top: 0em;
	left: 0em;
	width: 100%;
	height: 3em;
    display:block;
	background-color: $(dark_bg);
	font-size: 1em;
	padding: 0em;
}

#bottombar
{
	background-color: $(comment_even_bg);
	font-size: 1em;
	padding: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#copyrightbar
{
	background-color: $(dark_bg);
	font-size: 1em;
	padding: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
}

#content
{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#navigation
{
	font-family: $(font_fancy);
	font-size: 1.5em;
	font-style: italic;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

#navigation a
{
	text-decoration: none;
}

#newThemeWrapper
{
	display: none;
}

#newPostWrap
{
	display: none;
}

.row
{
	margin: 0 auto;
	margin-bottom: 2em;
	width: 70%;
	max-width: 1000px;
	min-width: 760px;
	overflow: auto; /* float border fix */
}

.rowBar
{
	margin: 0 auto;
	width: 70%;
	max-width: 1000px;
	min-width: 760px;
	overflow: auto; /* float border fix */
}

.rowLabelWrap
{
	width: 20%;
	float: left;
}

.rowLabel
{
	position: relative;
	margin-right: 1em;
	/*padding: 1em;*/
	background-color: transparent; /*$(light_bg);*/
	border: 0.5em solid $(label_light_bg);
	background-clip: padding-box;
	border-radius: 0.5em;
}

.rowLabel:after
{
	content: "";
	position: absolute;
	left: 100%;
	top: 50%;
	margin-top: -1em;
	margin-left: 0.5em;
	width: 0px;
	height: 0px;
	border-top: 1em solid transparent;
	border-left: 1em solid $(label_light_bg);
	border-bottom: 1em solid transparent;
	border-right: 1em solid transparent;
}

.rowLabelDate
{
	padding: 0.5em;
	background-color: $(label_dark_bg);
	color: $(label_date_text_color);
	text-align: center;
	font-size: 1.5em;
}

.rowLabelAuthor
{
	padding: 0.5em;
	overflow-x: hidden;
	background-color: $(label_light_bg);
	color: $(label_country_text_color);
	text-align: center;
	font-size: 1.5em;
}

.rowTriangle
{
	margin-right: -1em;
	float: right;
	width: 0px;
	height: 0px;
	border-top: 1em solid transparent;
	border-left: 1em solid $(light_bg);
	border-bottom: 1em solid transparent;
	border-right: 1em solid transparent;
}

.rowContentWrap
{
	width: 80%;
	float: right;
}

.rowContent
{
	border: 0.5em solid $(light_bg);
	background-clip: padding-box;
	border-bottom-right-radius: 0.5em 0.5em;
	border-bottom-left-radius: 0.5em 0.5em;
	border-top-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	border-top-color: $(light_bg);
}

.rowContentText
{
	padding: 1em;
	background-color: $(dark_bg);
}

.rowCommentWrap
{
	overflow: auto; /* float border fix */
	display: none;
}

.rowCommentEven
{
	background-color: $(comment_even_bg);
	border-bottom: 1px solid $(comment_separator);
}

.rowCommentOdd
{
	background-color: $(light_bg);
	border-bottom: 1px solid $(comment_separator);
}

.rowCommentAuthorWrap
{
	width: 15%;
	float: left;
}

.rowCommentContentWrap
{
	width: 85%;
	float: right;
}

.rowCommentAuthor
{
	padding: 1em;
	text-align: right;
	font-weight: bold;
}

.rowCommentAuthorDate
{
	font-weight: normal;
}

.rowCommentContent
{
	padding: 1em;
}

.rowCommentAddComment
{
	padding: 1em;
	padding-left: 2em;
	background-color: $(light_bg);
}

.rowFullWrap
{
	padding : 1em;
}

.rowTopBar
{
	margin-bottom: 0em;
	margin-top: 1em;
	padding-left: 2em; /* check this */
}

.rowBottomBar
{
	margin-bottom: 0em;
}

.rowCopyrightBar
{
	margin-bottom: 0em;
}

.rowContentBottomBar
{
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.rowContentCopyrightBar
{
	padding: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.logo
{
	margin-top: 1em;
	padding: 1em;
	background-color: $(light_bg);
	border-top: 0em solid $(light_bg);
	border-bottom: 0em solid $(light_bg);
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
	border-bottom-left-radius: 0em;
	border-bottom-right-radius: 0em;
}

.logoCaption
{
	padding: 1em;
	background-color: $(dark_bg);
	border-color:$(dark_bg);
	border-top: 0em solid $(dark_bg);
	border-top-left-radius: 0em;
	border-top-right-radius: 0em;
}

.logoText
{
	position: relative;
	font-family: $(font_fancy);
	font-size: 4em;
	font-style: italic;
	font-weight: bold;
	color: $(text_color_light_bg);
	letter-spacing: 0.1em;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.logoText:after
{
	content: "Photo Diary";
	position: absolute;
	bottom: 0em;
	right: 0em;
	margin-right: 0.3em;
	margin-bottom: -0.2em;
	font-size: 0.25em;
	font-family: $(font_normal);
	letter-spacing: 0.28em;
}

.logoTextLink
{
	text-decoration: none;
}

.loginForm
{
	display: inline-block;
}

.postPicture
{
	margin-bottom: 1em;
    max-width: 100%;
	box-shadow: 0em 0em 1em 0em $(shadow);
	/*border: 1px solid rgba(255,255,255,0.2);*/
}

.titleWrap
{
	position: absolute;
	left: 0em;
	top: 0em;
	padding: 0.5em;
	background-color: $(title_bg);
	font-size: 2em;
	font-family: $(font_fancy);
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.pictureBottomBar
{
	position: absolute;
	width: 100%;
	left: 0em;
	bottom: 1em;
}

.contentWrap
{
	clear: both;
	width: 100%;
	background-color: $(content_bg);
}

.contentText
{
	padding: 1em;
	font-size: 1.2em;
}

.cityWrap
{
	clear: both;
	float: right;
	background-color: $(title_bg);
	text-align: right;
}

.cityText
{
	padding: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.2em;
}

.exifWrap
{
	float: right;
	background-color: $(exif_bg);
	text-align: center;
}

.exif
{
	margin: 0.5em;
	font-size: 1.5em;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.exifDesc
{
	display: inline-block;
	font-family: $(font_fancy);
}

.cityText b
{
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.postPictureWrap
{
	position: relative;
}

.postContent
{
	font-size: 1.5em;
}

.triangleRight
{
	width: 0em;
	height: 0em;
	margin: 0em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	display: inline-block;
	border-top: 0.4em solid transparent;
	border-left: 0.4em solid $(text_color);
	border-bottom: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
}

.triangleBottom
{
	width: 0em;
	height: 0em;
	margin: 0em;
	margin-left: 0.4em;
	margin-right: 0.4em;
	display: inline-block;
	border-top: 0.4em solid $(text_color);
	border-left: 0.4em solid transparent;
	border-bottom: 0.4em solid transparent;
	border-right: 0.4em solid transparent;
}

.commentShow
{
	cursor: hand;
	margin-left: 1em;
}

.shaddowRed
{
	box-shadow: 0em 0em 0.5em 0em red;
}

.locationCity
{
	display: inline-block;
	margin: 0em;
	margin-left: 0.66em; /* figure out sth better */
	padding: 0em;
	font-size: 1.5em;
	font-family: $(font_fancy);
	font-style: italic;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.locationCountry
{
	display: inline-block;
	margin-left: 0.5em;
	font-size: 1.5em;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.noBorderBottom
{
	border-bottom: 0em solid $(comment_separator) !important;
}

.page-numbers
{
	margin-left: 0.2em;
	margin-right: 0.2em;
}

.page-numbers.current
{
	font-size: 1.5em;
}

.quotationWrap
{
	width: 32%;
	display: inline-block;
	vertical-align: top;
}

.quotation
{
	padding: 1em;
	padding-bottom: 0em;
	color: $(text_color_light_bg);
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.quotationAuthor
{
	padding: 1em;
	padding-top: 0em;
	font-family: $(font_fancy);
	color: $(text_color_light_bg);
	text-align: right;
	text-shadow: 0.1em 0.1em 0.2em $(shadow);
}

.filelist div
{
	padding: 0.5em;
	border: 1px solid $(comment_separator);
	cursor: hand;
}

.onethird
{
	display: inline-block;
	width: 32%;
	vertical-align: top;
}

.fancyFont
{
	font-family: $(font_fancy);
}