@import "styledefs.css" all;

body
{
	font-size: 16px;
	font-family: verdana;
	color: white;
	background-color: $(color_g);
}

.csstest
{
	width: 200px;
	height: 50px;
	padding: 20px;
	text-align: centre;
	border: 1px solid white;
}
